<?xml version="1.0" ?>
<launch>
    <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot type: [lt, go1, fire]"/>
    <include file="$(find rl_controllers)/launch/joy_teleop.launch"/>

    <rosparam file="$(find rl_controllers)/config/$(env ROBOT_TYPE)/$(env ROBOT_TYPE)_kd.yaml" command="load"/>
    <rosparam file="$(find rl_controllers)/config/$(env ROBOT_TYPE)/$(env ROBOT_TYPE)_topic.yaml" command="load"/>
    <param name="encoderModelPath" value="$(find rl_controllers)/policy/$(env ROBOT_TYPE)/encoder.mnn"/>
    <param name="policyModelPath" value="$(find rl_controllers)/policy/$(env ROBOT_TYPE)/base_actor.mnn"/>

    <rosparam file="$(find rl_controllers)/config/controllers.yaml" command="load"/>
    <rosparam file="$(find rl_controllers)/config/$(env ROBOT_TYPE)/$(env ROBOT_TYPE)_parkour.yaml" command="load"/>
    
    <node name="image_mnn" pkg="image_mnn" type="image_mnn_node" output="screen"></node>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" 
        respawn="false" output="screen" args="controllers/parkour_controller"/>

    <!--node name="controller_spawner" pkg="controller_manager" type="spawner" 
        respawn="false" output="screen" args="
        respawn="false" output="screen" args="
        respawn="false" output="screen" args="RRRR
            controllers/parkour_controller
            controllers/image_controller"/-->
    
    <!-- <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen">
    </node> -->
</launch>