<launch>
    <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot type: [lt, go1, fire]"/>
    
    <param name="legged_robot_description" command="$(find xacro)/xacro $(find legged_gsmp_description)/urdf/lt_sim.xacro
       robot_type:=$(arg robot_type)
    "/>
    <node name="generate_urdf" pkg="legged_common" type="generate_urdf.sh" output="screen"
        args="$(find legged_gsmp_description)/urdf/lt_sim.xacro $(arg robot_type)"/>

    <rosparam file="$(find legged_gsmp_hw)/config/$(arg robot_type).yaml" command="load"/>
    <rosparam file="$(find rl_controllers)/config/$(arg robot_type)/$(arg robot_type)_kd.yaml" command="load"/>

    <param name="robot_type" value="$(arg robot_type)"/>

    <node name="legged_gsmp_hw" pkg="legged_gsmp_hw" type="legged_gsmp_hw" respawn="false" clear_params="true" output="screen"/>

    <node pkg="yesense_imu" type="yesense_imu_node" name="yesense_imu_node" output="screen" respawn="true" respawn_delay="0.002" >
        <param name="yesense_port"      type="string" value="/dev/ttyACM0"/>
        <param name="yesense_baudrate"  type="int"    value="460800"/>
    </node>

</launch>
