<?xml version="1.0" ?>
<launch>
    <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot type: [lt, go1, fire]"/>
    <include file="$(find image_mnn)/launch/depth_image.launch"/>

    <rosparam file="$(find rl_controllers)/config/$(env ROBOT_TYPE)/$(env ROBOT_TYPE)_topic.yaml" command="load"/>
    <param name="encoderModelPath" value="$(find rl_controllers)/policy/$(env ROBOT_TYPE)/encoder.mnn"/>
    
    <node name="image_mnn" pkg="image_mnn" type="image_mnn_node" output="screen"></node>
</launch>